<html>
  <head>
      <title>Dynamic Form</title>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device=width, initial-scale=1">
            <link rel="stylesheet" href="/static/colorrainbow.css">
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    {% block content %}
          put your content here
        {% endblock %}
  </body>
</html>