<html>
  <head>
      <title>Dynamic Form</title>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device=width, initial-scale=1">
            <script src="https://code.jquery.com/jquery.js"></script>
              <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
                  <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    {% block content %}
          put your content here
        {% endblock %}
  </body>
</html>